pymupdf
langchain
langchain_community
langchain_core
langchain_classic
typing
openai
pathlib
pandas
numpy
markdown
datasets
rank_bm25
Flask
flask_admin
flask_sqlalchemy
werkzeug
langdetect
deep_translator
sentence-transformers
faiss-cpu
langchain_text_splitters
langchain_huggingface
gdown
collections
pickle